.topPad{
    padding-top: 5rem;
    border-top: 5rem;
}

.logo{
    height: 4rem;
    
}

.search{
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.mobileButton{
    display: none;
}

@media screen and (max-width:600px) {
    .logo{
        height: 2rem;
    }
}

.favColor{
    color: rgba(245, 245, 245, 0.945);
}

.inputBg{
    background: rgba(245, 245, 245, 0.945);
    border-radius: 5px;
}

@media screen and (max-width:600px) {
    .inputBg{
      width: 80%;
    }
    .mobileButton{
        display: block;
        margin-top: 2rem;
        width: 80%;
    }
  
}

@media screen and (max-width:370px) {
    .inputBg{
      width: 80%;
    }
    .search{
        margin-left: 0;
        margin-right: 0;
      }

    .mobileButton{
        display: block;
        margin-top: 2rem;
        width: 80%;
    }
  
}


.input{
    border-style: none;  
    background: none;
}

input:focus {
    outline: none;
}