.img{
    width: 26rem;
    
}

.imageCover{
    position: relative;
}

.imageText{
    position: absolute;
    bottom: 1rem;
    left: 1rem;

    p{
        margin-bottom: 4px;
        color: white;
    }
}

