.indicator {
    .custom-tag .carousel-item {
        display: block
    }
    div{
        ol{
            li{
                background-color: white;
                border-radius: 50%;
                height: 10px;
                width: 10px;
                margin-right: 10px;
            }
        }
    }
}


